<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Himmelsk&ouml;rper || Beauty | Massagen | Wellness</title>

    <META NAME="ROBOTS" CONTENT="NOINDEX,NOFOLLOW">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/logo/cloud_favicon.png" rel="icon">
    <link href="img/logo/cloud_icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">



    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <!--<h1><a href="#intro" class="scrollto">BizPage</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="#intro"><img src="img/logo/logo_small.png" alt="" title="" /></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">&Uuml;ber mich</a></li>
                    <li><a href="#services">Mein Angebot</a></li>
                    <li><a href="#portfolio">Mein Portfolio</a></li>
                    <li><a href="#testimonials">Feedbacks</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                    <!--
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
          -->
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="img/intro-carousel/1_lg.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Entfliehen Sie dem Alltag</h2>
                                <p>Du f&uuml;hlst dich schlapp, ersch&ouml;pft und gestresst? Komm' zu Himmelsk&ouml;rper und f&uuml;hle dich wie auf Wolke Sieben.
                                </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Jetzt entspannen!</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="img/intro-carousel/2_lg.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Urlaub f&uuml;r daheim!</h2>
                                <p>Keine Zeit, um mal eben in die Karibik zu entfliehen? Auch daheim l&auml;sst es sich richtig sch&ouml;n erholen!</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Jetzt entspannen!</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="img/intro-carousel/3_lg.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Du z&auml;hlst die Tage bis zur Geburt?</h2>
                                <p>G&ouml;nn' Dir etwas Entspannung w&auml;hrend deiner Schwangerschaft. Die wohltuende W&auml;rme tut dir und deinem Baby gut.
                                </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Jetzt entspannen!</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="img/intro-carousel/4_lg.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Dein Kleinkind ist gestresst?</h2>
                                <p>Egal ob durch die Geburt oder die &auml;lteren Geschwister. Auch dein j&uuml;ngster Sch&uuml;tzling braucht von Zeit zu Zeit einen himmlischen Moment.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Jetzt entspannen!</a>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================
      Featured Services Section
    ============================-->
        <section id="featured-services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">
                        <i class="ion-ios-bookmarks-outline"></i>
                        <h4 class="title green">Ausgebildete Massage-Techniken!</h4>
                        <p class="description">Alle meine Wellness Angebote basieren auf einer fundierten Ausbildung als qualifizierte Masseurin.</p>
                    </div>

                    <div class="col-lg-4 box box-bg">
                        <i class="ion-ios-stopwatch-outline"></i>
                        <h4 class="title green">Flexible Terminvergabe</h4>
                        <p class="description">Sie sind hauptberuflich Familien-Manager und m&uuml;ssen Ihre Termine koordinieren? Kein Problem - telefonisch finden wir genau den Termin, der Ihnen passt!</p>
                    </div>

                    <div class="col-lg-4 box">
                        <i class="ion-ios-heart-outline"></i>
                        <h4 class="title green">Arbeit aus &Uuml;berzeugung</h4>
                        <p class="description">Ich liebe meine Arbeit. Nicht nur meine Kunden sind hiervon &uuml;berzeugt. Auch meine Familie kommt in den Genuss meiner kleinen Auszeiten!</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- #featured-services -->

        <!--==========================
      About Us Section
    ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>&Uuml;ber mich - {{firstName}}</h3>
                    <p>Als ausgebildete Fach-Pflegekraft bin ich den Umgang mit Menschen gewohnt. Als zweifache Mutter kenne ich den Stress des Familienalltags nur zu gut und weiß daher genau, wie ich Ihnen und ihren Kindern zur Entspannung verhelfen kann.
                        Hierzu haben ich neben der Pflege-Ausbildung die folgenden Massage-Weiterbildungen
                    </p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-4 wow fadeInUp">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about/wellness.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-information"></i></div>
                            </div>
                            <h2 class="title">Wellness-Massage</h2>
                            <p>
                                Fortbildung mit folgenden Techniken
                            </p>
                            <p>Einfache Massage<br>Besondere Massage<br>Rücken-Massage<br>Hot-Stone Massage</p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about/me.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-contact-outline"></i></div>
                            </div>
                            <h2 class="title">{{firstName}} {{lastName}}</h2>
                            <p>
                                Geboren am {{birthday}} in {{birth_location}}, verheiratet und Mutter von zwei T&ouml;chtern. Meine Passion ist der Umgang mit Menschen. Wo ich helfen kann, tue ich dies mit Herz und Seele.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about/kind.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-leaf"></i></div>
                            </div>
                            <h2 class="title">Kleinkind Massage</h2>
                            <p>
                                Ergänzend zu den einfachen Massage-Kenntnissen wurde an der Fortbildung "Kleinkind-Massage" im speziellen Umgang mit Kindern teilgenommen.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- #about -->

        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp">
                    <h3>Meine Angebote</h3>
                    <p>Eine kleine &Uuml;bersicht, was mich besonders macht!</p>
                </header>

                <div class="row">

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-compass"></i></div>
                        <h4 class="title">Regionales Angebot</h4>
                        <p class="description">Ich biete meine Wellness-Behandlungen direkt aus der Nachbarschaft! Als ans&auml;ssige Barsinghausernerin erreichst du mich einfach und schnell!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-social-euro-outline"></i></div>
                        <h4 class="title">Faire Preise</h4>
                        <p class="description">Die Kosten sind einfach: jede Minute Entspannung kostet bei mir 1€!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-calendar-outline"></i></div>
                        <h4 class="title">Vorort-Termine</h4>
                        <p class="description">Schaffst du es zeitlich nicht vorbeizukommen? Kein Problem! Mit meiner mobilen Behandlungsliege komme ich gerne auch direkt zu Dir!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-chatbubble-outline"></i></div>
                        <h4 class="title">Pers&ouml;nliche Beratung</h4>
                        <p class="description">Ich berate dich gerne und empfehle Dir und deinen Kindern die richtige Behandlung.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                        <h4 class="title">Von 0-99</h4>
                        <p class="description">Auch deine Kinder kommen bei mir nicht zu kurz! Entdecke jetzt meine Angebote speziell f&uuml;r kleine Kinder!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-people-outline"></i></div>
                        <h4 class="title">Massage-Seminar</h4>
                        <p class="description">Neben den eigentlichen Behandlungen biete ich auch regelm&auml;sig Semniare, um Dir die Massage-Techniken beizubringen.</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #services -->

        <!--==========================
      Call To Action Section
    ============================
        <section id="call-to-action" class="wow fadeIn">
            <div class="container text-center">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>
        </section>
        #call-to-action -->

        <!--==========================
      Skills Section
    ============================
        <section id="skills">
            <div class="container">

                <header class="section-header">
                    <h3>Our Skills</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </header>

                <div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">HTML <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">CSS <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Photoshop <i class="val">55%</i></span>
                        </div>
                    </div>

                </div>

            </div>
        </section>

      ==========================
      Facts Section
    ============================-->
        <!--
        <section id="facts" class="wow fadeIn">
            <div class="container">

                <header class="section-header">
                    <h3>Facts</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </header>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">274</span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">421</span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,364</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">18</span>
                        <p>Hard Workers</p>
                    </div>

                </div>

                <div class="facts-img">
                    <img src="img/facts-img.png" alt="" class="img-fluid">
                </div>

            </div>
        </section>
         #facts -->

        <!--==========================
      Portfolio Section
    ============================-->
        <section id="portfolio" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Mein Portfolio</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Alle</li>
                            <li data-filter=".filter-classic">Klassiker</li>
                            <li data-filter=".filter-special">Besonderes</li>
                            <li data-filter=".filter-family">Mutter-Kind</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-classic wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/ruecken.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>R&uuml;ckenmassge</h4>
                                <p>Der Klassiker<br>30 Minuten</p>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 portfolio-item filter-classic wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/nacken.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Nackenmassage</h4>
                                <p>Gegen den B&uuml;ro-Alltag<br>20 Minuten</p>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 portfolio-item filter-classic wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/koerper.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Ganzk&ouml;rper Massage</h4>
                                <p>Entspannung von Kopf bis Fuß<br>45 Minuten</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-special wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/oil.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Etherische &Ouml;le</h4>
                                <p>Die wirkende Kraft exklusiver Massage-&Ouml;le<br>45 Minuten (zzgl. 5€ f&uuml;r das &Ouml;l)</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-special wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/afterwork.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>After Work</h4>
                                <p>Das Arrangement nach langen Arbeitstagen<br>45 oder 60 Minuten</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-special wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/hotstone.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Hot Stone</h4>
                                <p>Die Tiefenw&auml;rme der Steine<br>60 Minuten</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-family wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/family.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Mutter Kind</h4>
                                <p>Die besondere Verbindung zu Zweit<br>60 Minuten</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-family wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/seminar.jpg" class="img-fluid" alt="">
                            </figure>

                            <div class="portfolio-info">
                                <h4>Seminar Baby-Massage</h4>
                                <p>Hilfreiche Techniken f&uuml;r daheim<br>2,5 Stunden</p>
                            </div>
                        </div>
                    </div>



                    <!--
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">Web 1</a></h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

            </div>
        </section>
        <!-- #portfolio -->

        <!--==========================
      Clients Section
    ============================
        <section id="clients" class="wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Our Clients</h3>
                </header>

                <div class="owl-carousel clients-carousel">
                    <img src="img/clients/client-1.png" alt="">
                    <img src="img/clients/client-2.png" alt="">
                    <img src="img/clients/client-3.png" alt="">
                    <img src="img/clients/client-4.png" alt="">
                    <img src="img/clients/client-5.png" alt="">
                    <img src="img/clients/client-6.png" alt="">
                    <img src="img/clients/client-7.png" alt="">
                    <img src="img/clients/client-8.png" alt="">
                </div>

            </div>
        </section>
         #clients -->

        <!--==========================
      Clients Section
    ============================-->
        <section id="testimonials" class="section-bg wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Kunden Feedback</h3>
                </header>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <img src="img/feedback/feedback_1.jpg" class="testimonial-img" alt="">
                        <h3>Maximilian Schomer</h3>
                        <h4>Angestellter</h4>
                        <p>
                            <img src="img/icons/quote-sign-left.png" class="quote-sign-left" alt=""> Zu einem fairen Preis relaxe ich regelm&auml;ssig bei {{firstName}}. Die After-Work Massage ist immer wieder gut!
                            <img src="img/icons/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/feedback/feedback_2.jpg" class="testimonial-img" alt="">
                        <h3>Sarah Wilgard</h3>
                        <h4>Lehrerin und Mutter</h4>
                        <p>
                            <img src="img/icons/quote-sign-left.png" class="quote-sign-left" alt=""> Durch die Mutter-Kind Massagen erlebe ich mein Kind immer wieder neu. Nicht nur ich genieße die Zeit, sondern ganz besonders meine Laura!
                            <img src="img/icons/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/feedback/feedback_3.jpg" class="testimonial-img" alt="">
                        <h3>Luisa Fischer</h3>
                        <h4>Angestellte</h4>
                        <p>
                            <img src="img/icons/quote-sign-left.png" class="quote-sign-left" alt=""> F&uuml;r mich perfekt: {{firstName}} kommt w&auml;rend der Mittagspause ins B&uuml;ro. Kurzweilige Entspannung direkt am Arbeitsplatz! Ich bin begeistert
                            und meine Kollegen ebenfalls!
                            <img src="img/icons/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/feedback/feedback_4.jpg" class="testimonial-img" alt="">
                        <h3>Sebastian Mehler</h3>
                        <h4>Selbstst&auml;ndig</h4>
                        <p>
                            <img src="img/icons/quote-sign-left.png" class="quote-sign-left" alt=""> Ich habe meine Frau mit einem Gutschein &uuml;berrascht - sie war total begeistert.
                            <img src="img/icons/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/feedback/feedback_5.jpg" class="testimonial-img" alt="">
                        <h3>Bianca Hohnfeld</h3>
                        <h4>Nachbarin</h4>
                        <p>
                            <img src="img/icons/quote-sign-left.png" class="quote-sign-left" alt=""> {{firstName}} &uuml;berzeugt nicht nur durch ihre Massagen, sondern hat auch stets ein Ohr f&uuml;r ihre Kunden.
                            <img src="img/icons/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #testimonials -->

        <!--==========================
      Team Section
    ============================
        <section id="team">
            <div class="container">
                <div class="section-header wow fadeInUp">
                    <h3>Team</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="img/team-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Chief Executive Officer</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="img/team-2.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Product Manager</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="img/team-3.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>CTO</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="img/team-4.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Amanda Jepson</h4>
                                    <span>Accountant</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        #team -->

        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>Kontakt</h3>
                    <p>Ich habe dein Interesse geweckt? Gerne vereinbare ich einen Termin. Am einfachsten rufst du kurz an.</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Adresse</h3>
                            <address>{{street}}, {{city}}</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Telefon</h3>
                            <p><a :href="`tel:${phone}`">{{phone}}</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>E-Mail</h3>
                            <p><a :href="`mailto:${mail}`">{{mail}}</a></p>
                        </div>
                    </div>

                </div>

                <!--
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
                -->
            </div>
        </section>
        <!-- #contact -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-info">
                        <h3>Himmelsk&ouml;rper</h3>
                        <p>Beauty // Massagen // Wellness</p>
                        <br>
                        <p>Inhaberin: {{firstName}} {{lastName}}</p>
                        <p>USt-IdNr.: {{ust_id}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>N&uuml;tzliche Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#about">&Uuml;ber mich</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#services">Mein Angebot</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#testimonials">Feedbacks</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Kontakt</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="impressum.html#contact">Impressum</a></li>
                        </ul>
                    </div>




                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Kontakt</h4>
                        <p>
                            Himmelsk&ouml;rper - {{firstName}} {{lastName}} <br> {{street}}, {{city}}<br>
                            <strong>Telefon:</strong> {{phone}}<br>
                            <strong>E-Mail:</strong> {{mail}}<br>
                        </p>

                        <div class="social-links">
                            <a v-if="twitter" v-bind:href="twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a v-if="facebook" v-bind:href="facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a v-if="linkedIn" v-bind:href="linkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <!--
                      <div class="col-lg-3 col-md-6 footer-newsletter">
                          <h4>Our Newsletter</h4>
                          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                          <form action="" method="post">
                              <input type="email" name="email"><input type="submit" value="Subscribe">
                          </form>
                      </div>
                    -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>


    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/data.js"></script>

</body>
</body>

</html>